openapi: 3.1.0
info:
  title: REST api to TON blockchain explorer
  version: 2.0.0
  description: Provide access to indexed TON blockchain
  contact:
    name: Support
    email: support@tonkeeper.com
servers:
  - url: "https://tonapi.io"
  - url: "https://testnet.tonapi.io"
  - url: "http://localhost:8081"

tags:
  - name: Accounts
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/accounts
  - name: NFT
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/nft
  - name: Jettons
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/jettons
  - name: DNS
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/dns
  - name: Wallet
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/wallet
  - name: Rates
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/rates
  - name: Staking
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/staking
  - name: Traces
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/traces
  - name: Events
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/events
  - name: Storage
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/storage
  - name: Connect
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/connect
  - name: Gasless
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/gasless
  - name: Multisig
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/multisig
  - name: Blockchain
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/blockchain
  - name: Lite Server
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/liteserver
  - name: Emulation
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/emulation
  - name: Inscriptions
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/inscriptions
  - name: Utilities
    externalDocs:
      description: Additional documentation
      url: https://docs.tonconsole.com/tonapi/rest-api/utilities

paths:
  /v2/status:
    get:
      description: Status
      operationId: status
      tags:
        - Utilities
      responses:
        '200':
          description: status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStatus'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/reduced/blocks:
    get:
      description: Get reduced blockchain blocks data
      operationId: getReducedBlockchainBlocks
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/fromQuery'
        - $ref: '#/components/parameters/toQuery'
      responses:
        '200':
          description: blockchain reduced blocks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReducedBlocks'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/blocks/{block_id}:
    get:
      description: Get blockchain block data
      operationId: getBlockchainBlock
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDParameter'
      responses:
        '200':
          description: blockchain block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlock'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/shards:
    get:
      description: Get blockchain block shards
      operationId: getBlockchainMasterchainShards
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/masterchainSeqno'
      responses:
        '200':
          description: blockchain block shards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlockShards'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/blocks:
    get:
      description: Get all blocks in all shards and workchains between target and previous masterchain block according to shards last blocks snapshot in masterchain.  We don't recommend to build your app around this method because it has problem with scalability and will work very slow in the future.
      operationId: getBlockchainMasterchainBlocks
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/masterchainSeqno'
      responses:
        '200':
          description: blockchain blocks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlocks'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/transactions:
    get:
      description: Get all transactions in all shards and workchains between target and previous masterchain block according to shards last blocks snapshot in masterchain. We don't recommend to build your app around this method because it has problem with scalability and will work very slow in the future.
      operationId: getBlockchainMasterchainTransactions
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/masterchainSeqno'
      responses:
        '200':
          description: blockchain transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/config:
    get:
      description: Get blockchain config from a specific block, if present.
      operationId: getBlockchainConfigFromBlock
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/masterchainSeqno'
      responses:
        '200':
          description: blockchain config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainConfig'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/config/raw:
    get:
      description: Get raw blockchain config from a specific block, if present.
      operationId: getRawBlockchainConfigFromBlock
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/masterchainSeqno'
      responses:
        '200':
          description: blockchain config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawBlockchainConfig'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/blocks/{block_id}/transactions:
    get:
      description: Get transactions from block
      operationId: getBlockchainBlockTransactions
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDParameter'
      responses:
        '200':
          description: blockchain block transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/transactions/{transaction_id}:
    get:
      description: Get transaction data
      operationId: getBlockchainTransaction
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/transactionIDParameter'
      responses:
        '200':
          description: blockchain transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/messages/{msg_id}/transaction:
    get:
      description: Get transaction data by message hash
      operationId: getBlockchainTransactionByMessageHash
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/messageIDParameter'
      responses:
        '200':
          description: transaction by message hash
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/validators:
    get:
      description: Get blockchain validators
      operationId: getBlockchainValidators
      tags:
        - Blockchain
      responses:
        '200':
          description: blockchain validators
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Validators'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain-head:
    get:
      description: Get last known masterchain block
      operationId: getBlockchainMasterchainHead
      tags:
        - Blockchain
      responses:
        '200':
          description: blockchain masterchain head
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlock'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/accounts/{account_id}:
    get:
      description: Get low-level information about an account taken directly from the blockchain.
      operationId: getBlockchainRawAccount
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: raw account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainRawAccount'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/accounts/{account_id}/transactions:
    get:
      description: Get account transactions
      operationId: getBlockchainAccountTransactions
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - name: after_lt
          in: query
          description: "omit this parameter to get last transactions"
          schema:
            type: integer
            format: int64
            example: 39787624000003
            x-js-format: bigint
        - name: before_lt
          in: query
          description: "omit this parameter to get last transactions"
          schema:
            type: integer
            format: int64
            example: 39787624000003
            x-js-format: bigint
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            maximum: 1000
            default: 100
            example: 100
            minimum: 1
        - name: sort_order
          in: query
          schema:
            type: string
            description: "used to sort the result-set in ascending or descending order by lt."
            default: "desc"
            enum:
              - desc
              - asc
      responses:
        '200':
          description: blockchain account transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/accounts/{account_id}/methods/{method_name}:
    get:
      description: Execute get method for account
      operationId: execGetMethodForBlockchainAccount
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/methodNameParameter'
        - name: args
          in: query
          required: false
          schema:
            type: array
            description: |-
              Supported values:
              "NaN" for NaN type, 
              "Null" for Null type, 
              10-base digits for tiny int type (Example: 100500), 
              0x-prefixed hex digits for int257 (Example: 0xfa01d78381ae32), 
              all forms of addresses for slice type (Example: 0:6e731f2e28b73539a7f85ac47ca104d5840b229351189977bb6151d36b5e3f5e), 
              single-root base64-encoded BOC for cell (Example: "te6ccgEBAQEAAgAAAA=="),
              single-root hex-encoded BOC for slice (Example: b5ee9c72010101010002000000)
            items:
              type: string
            example: [ "0:9a33970f617bcd71acf2cd28357c067aa31859c02820d8f01d74c88063a8f4d8" ]
      responses:
        '200':
          description: method execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodExecutionResult'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/message:
    post:
      description: Send message to blockchain
      operationId: sendBlockchainMessage
      tags:
        - Blockchain
      requestBody:
        $ref: "#/components/requestBodies/BatchBoc"
      responses:
        '200':
          description: the message has been sent
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/config:
    get:
      description: Get blockchain config
      operationId: getBlockchainConfig
      tags:
        - Blockchain
      responses:
        '200':
          description: blockchain config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainConfig'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/config/raw:
    get:
      description: Get raw blockchain config
      operationId: getRawBlockchainConfig
      tags:
        - Blockchain
      responses:
        '200':
          description: blockchain config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawBlockchainConfig'
        'default':
          $ref: '#/components/responses/Error'
  /v2/blockchain/accounts/{account_id}/inspect:
    get:
      description: Blockchain account inspect
      operationId: blockchainAccountInspect
      tags:
        - Blockchain
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: blockchain account inspect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainAccountInspect'
        'default':
          $ref: '#/components/responses/Error'
  /v2/address/{account_id}/parse:
    get:
      description: parse address and display in all formats
      operationId: addressParse
      tags:
        - Utilities
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: all forms and info
          content:
            application/json:
              schema:
                type: object
                required:
                  - raw_form
                  - bounceable
                  - non_bounceable
                  - given_type
                  - test_only
                properties:
                  raw_form:
                    type: string
                    format: address
                    example: "0:6e731f2e28b73539a7f85ac47ca104d5840b229351189977bb6151d36b5e3f5e"
                  bounceable:
                    required:
                      - b64
                      - b64url
                    type: object
                    properties:
                      b64:
                        type: string
                      b64url:
                        type: string
                  non_bounceable:
                    required:
                      - b64
                      - b64url
                    type: object
                    properties:
                      b64:
                        type: string
                      b64url:
                        type: string
                  given_type:
                    type: string
                  test_only:
                    type: boolean
        default:
          $ref: '#/components/responses/Error'
  /v2/accounts/_bulk:
    post:
      description: Get human-friendly information about several accounts without low-level details.
      operationId: getAccounts
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/currencyQuery"
      requestBody:
        $ref: "#/components/requestBodies/AccountIDs"
      responses:
        '200':
          description: a list of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}:
    get:
      description: Get human-friendly information about an account without low-level details.
      operationId: getAccount
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/dns/backresolve:
    get:
      description: Get account's domains
      operationId: accountDnsBackResolve
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: account's domains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainNames'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/jettons:
    get:
      description: Get all Jettons balances by owner address
      operationId: getAccountJettonsBalances
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/currenciesQuery'
        - $ref: '#/components/parameters/supportedExtensions'
      responses:
        '200':
          description: account jettons balances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonsBalances'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/jettons/{jetton_id}:
    get:
      description: Get Jetton balance by owner address
      operationId: getAccountJettonBalance
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/jettonIDParameter'
        - $ref: '#/components/parameters/currenciesQuery'
        - $ref: '#/components/parameters/supportedExtensions'
      responses:
        '200':
          description: account jetton balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonBalance'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/jettons/history:
    get:
      description: Get the transfer jettons history for account
      operationId: getAccountJettonsHistory
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/i18n'
        - name: before_lt
          in: query
          description: "omit this parameter to get last events"
          required: false
          schema:
            type: integer
            format: int64
            example: 25758317000002
            x-js-format: bigint
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 100
            maximum: 1000
            minimum: 1
        - name: start_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
        - name: end_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
      responses:
        '200':
          description: account jettons history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/jettons/{jetton_id}/history:
    get:
      description: Get the transfer jetton history for account and jetton
      operationId: getAccountJettonHistoryByID
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/jettonIDParameter'
        - $ref: '#/components/parameters/i18n'
        - name: before_lt
          in: query
          description: "omit this parameter to get last events"
          required: false
          schema:
            type: integer
            format: int64
            example: 25758317000002
            x-js-format: bigint
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 100
            maximum: 1000
            minimum: 1
        - name: start_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
        - name: end_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
      responses:
        '200':
          description: account jetton history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/nfts:
    get:
      description: Get all NFT items by owner address
      operationId: getAccountNftItems
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/collectionQuery'
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - in: query
          name: indirect_ownership
          required: false
          description: "Selling nft items in ton implemented usually via transfer items to special selling account. This option enables including items which owned not directly."
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: account nft items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftItems'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/nfts/history:
    get:
      x-question: duplicate of getNftHistoryByID ?
      description: Get the transfer nft history
      operationId: getAccountNftHistory
      tags:
        - NFT
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/i18n'
        - name: before_lt
          in: query
          description: "omit this parameter to get last events"
          required: false
          schema:
            type: integer
            format: int64
            example: 25758317000002
            x-js-format: bigint
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 100
            maximum: 1000
            minimum: 1
        - name: start_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
        - name: end_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
      responses:
        '200':
          description: nft history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/events:
    get:
      description: Get events for an account. Each event is built on top of a trace which is a series of transactions caused by one inbound message. TonAPI looks for known patterns inside the trace and splits the trace into actions, where a single action represents a meaningful high-level operation like a Jetton Transfer or an NFT Purchase. Actions are expected to be shown to users. It is advised not to build any logic on top of actions because actions can be changed at any time.
      operationId: getAccountEvents
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/i18n'
        - $ref: '#/components/parameters/initiatorQuery'
        - name: subject_only
          in: query
          description: "filter actions where requested account is not real subject (for example sender or receiver jettons)"
          schema:
            type: boolean
            default: false
          required: false
        - name: before_lt
          in: query
          description: "omit this parameter to get last events"
          required: false
          schema:
            type: integer
            format: int64
            example: 25758317000002
            x-js-format: bigint
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 20
            maximum: 100
            minimum: 1
        - name: start_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
        - name: end_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
      responses:
        '200':
          description: account's events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/events/{event_id}:
    get:
      description: Get event for an account by event_id
      operationId: getAccountEvent
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/eventIDParameter'
        - $ref: '#/components/parameters/i18n'
        - name: subject_only
          in: query
          description: "filter actions where requested account is not real subject (for example sender or receiver jettons)"
          schema:
            type: boolean
            default: false
          required: false
      responses:
        '200':
          description: account's event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvent'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/traces:
    get:
      description: Get traces for account
      operationId: getAccountTraces
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - name: before_lt
          in: query
          description: "omit this parameter to get last events"
          required: false
          schema:
            type: integer
            format: int64
            example: 25758317000002
            x-js-format: bigint
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 1000
            default: 100
            example: 100
            minimum: 1
      responses:
        '200':
          description: account's traces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceIDs'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/subscriptions:
    get:
      description: Get all subscriptions by wallet address
      operationId: getAccountSubscriptions
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: account's subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/reindex:
    post:
      description: Update internal cache for a particular account
      operationId: reindexAccount
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: success
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/search:
    get:
      description: Search by account domain name
      operationId: searchAccounts
      tags:
        - Accounts
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 15
      responses:
        '200':
          description: found accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoundAccounts'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/dns/expiring:
    get:
      description: Get expiring account .ton dns
      operationId: getAccountDnsExpiring
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/periodQuery'
      responses:
        '200':
          description: account's expiring .ton dns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsExpiring'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/publickey:
    get:
      description: Get public key by account id
      operationId: getAccountPublicKey
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: account's public key
          content:
            application/json:
              schema:
                type: object
                required:
                  - public_key
                properties:
                  public_key:
                    type: string
                    example: "NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2ODQ3..."
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/multisigs:
    get:
      description: Get account's multisigs
      operationId: getAccountMultisigs
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: account's multisigs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Multisigs'
        'default':
          $ref: '#/components/responses/Error'
  
  /v2/accounts/{account_id}/diff:
    get:
      description: Get account's balance change
      operationId: getAccountDiff
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - name: start_date
          in: query
          required: true
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
        - name: end_date
          in: query
          required: true
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
      responses:
        '200':
          description: account's balance change
          content:
            application/json:
              schema:
                type: object
                required:
                  - balance_change
                properties:
                  balance_change:
                    type: integer
                    format: int64
                    example: 1000000000
        'default':
          $ref: '#/components/responses/Error'
  
  /v2/dns/{domain_name}:
    get:
      description: Get full information about domain name
      operationId: getDnsInfo
      tags:
        - DNS
      parameters:
        - $ref: '#/components/parameters/domainNameParameter'
      responses:
        '200':
          description: domain info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainInfo'
        'default':
          $ref: '#/components/responses/Error'
  /v2/dns/{domain_name}/resolve:
    get:
      description: DNS resolve for domain name
      operationId: dnsResolve
      tags:
        - DNS
      parameters:
        - $ref: '#/components/parameters/domainNameParameter'
      responses:
        '200':
          description: dns record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecord'
        'default':
          $ref: '#/components/responses/Error'
  /v2/dns/{domain_name}/bids:
    get:
      description: Get domain bids
      operationId: getDomainBids
      tags:
        - DNS
      parameters:
        - $ref: '#/components/parameters/domainNameParameter'
      responses:
        '200':
          description: domain bids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainBids'
        'default':
          $ref: '#/components/responses/Error'
  /v2/dns/auctions:
    get:
      description: Get all auctions
      operationId: getAllAuctions
      tags:
        - DNS
      parameters:
        - $ref: '#/components/parameters/domainFilterQuery'
      responses:
        '200':
          description: auctions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auctions'
        'default':
          $ref: '#/components/responses/Error'

  /v2/nfts/collections:
    get:
      description: Get NFT collections
      operationId: getNftCollections
      tags:
        - NFT
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            maximum: 1000
            default: 100
            example: 15
            minimum: 1
        - name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
            example: 10
            minimum: 0
      responses:
        '200':
          description: nft collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftCollections'
        'default':
          $ref: '#/components/responses/Error'
  /v2/nfts/collections/{account_id}:
    get:
      description: Get NFT collection by collection address
      operationId: getNftCollection
      tags:
        - NFT
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: nft collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftCollection'
        'default':
          $ref: '#/components/responses/Error'
  /v2/nfts/collections/_bulk:
    post:
      description: Get NFT collection items by their addresses
      operationId: getNftCollectionItemsByAddresses
      tags:
        - NFT
      requestBody:
        $ref: "#/components/requestBodies/AccountIDs"
      responses:
        '200':
          description: nft collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftCollections'
        'default':
          $ref: '#/components/responses/Error'
  /v2/nfts/collections/{account_id}/items:
    get:
      description: Get NFT items from collection by collection address
      operationId: getItemsFromCollection
      tags:
        - NFT
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
      responses:
        '200':
          description: nft items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftItems'
        'default':
          $ref: '#/components/responses/Error'
  /v2/nfts/_bulk:
    post:
      description: Get NFT items by their addresses
      operationId: getNftItemsByAddresses
      tags:
        - NFT
      requestBody:
        $ref: "#/components/requestBodies/AccountIDs"
      responses:
        '200':
          description: nft items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftItems'
        'default':
          $ref: '#/components/responses/Error'
  /v2/nfts/{account_id}:
    get:
      description: Get NFT item by its address
      operationId: getNftItemByAddress
      tags:
        - NFT
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: nft item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftItem'
        'default':
          $ref: '#/components/responses/Error'
  /v2/nfts/{account_id}/history:
    get:
      description: Get the transfer nfts history for account
      operationId: getNftHistoryByID
      tags:
        - NFT
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/i18n'
        - name: before_lt
          in: query
          description: "omit this parameter to get last events"
          required: false
          schema:
            type: integer
            format: int64
            example: 25758317000002
            x-js-format: bigint
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 100
            maximum: 1000
            minimum: 1
        - name: start_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
        - name: end_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
      responses:
        '200':
          description: nft history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
        'default':
          $ref: '#/components/responses/Error'
  /v2/traces/{trace_id}:
    get:
      description: Get the trace by trace ID or hash of any transaction in trace
      operationId: getTrace
      tags:
        - Traces
      parameters:
        - $ref: '#/components/parameters/traceIDParameter'
      responses:
        '200':
          description: trace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trace'
        'default':
          $ref: '#/components/responses/Error'

  /v2/events/{event_id}:
    get:
      description: Get an event either by event ID or a hash of any transaction in a trace. An event is built on top of a trace which is a series of transactions caused by one inbound message. TonAPI looks for known patterns inside the trace and splits the trace into actions, where a single action represents a meaningful high-level operation like a Jetton Transfer or an NFT Purchase. Actions are expected to be shown to users. It is advised not to build any logic on top of actions because actions can be changed at any time.
      operationId: getEvent
      tags:
        - Events
      parameters:
        - $ref: '#/components/parameters/eventIDParameter'
        - $ref: '#/components/parameters/i18n'
      responses:
        '200':
          description: event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        'default':
          $ref: '#/components/responses/Error'

  /v2/experimental/accounts/{account_id}/inscriptions:
    get:
      description: Get all inscriptions by owner address. It's experimental API and can be dropped in the future.
      operationId: getAccountInscriptions
      tags:
        - Inscriptions
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
      responses:
        '200':
          description: account inscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InscriptionBalances'
        'default':
          $ref: '#/components/responses/Error'
  /v2/experimental/accounts/{account_id}/inscriptions/history:
    get:
      description: Get the transfer inscriptions history for account. It's experimental API and can be dropped in the future.
      operationId: getAccountInscriptionsHistory
      tags:
        - Inscriptions
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/i18n'
        - name: before_lt
          in: query
          description: "omit this parameter to get last events"
          required: false
          schema:
            type: integer
            format: int64
            example: 25758317000002
            x-js-format: bigint
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 100
            default: 100
            maximum: 1000
            minimum: 1
      responses:
        '200':
          description: account inscriptions history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
        'default':
          $ref: '#/components/responses/Error'
  /v2/experimental/accounts/{account_id}/inscriptions/{ticker}/history:
    get:
      description: Get the transfer inscriptions history for account. It's experimental API and can be dropped in the future.
      operationId: getAccountInscriptionsHistoryByTicker
      tags:
        - Inscriptions
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/i18n'
        - name: ticker
          in: path
          required: true
          schema:
            type: string
            example: "nano"
        - name: before_lt
          in: query
          description: "omit this parameter to get last events"
          required: false
          schema:
            type: integer
            format: int64
            example: 25758317000002
            x-js-format: bigint
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 100
            default: 100
            maximum: 1000
            minimum: 1
      responses:
        '200':
          description: account inscriptions history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
        'default':
          $ref: '#/components/responses/Error'
  /v2/experimental/inscriptions/op-template:
    get:
      description: return comment for making operation with inscription. please don't use it if you don't know what you are doing
      operationId: getInscriptionOpTemplate
      tags:
        - Inscriptions
      parameters:
        - in: query
          name: type
          required: true
          schema:
            type: string
            enum: [ "ton20", "gram20" ]
            example: "ton20"
        - in: query
          name: destination
          required: false
          schema:
            type: string
        - in: query
          name: comment
          required: false
          schema:
            type: string
        - in: query
          name: operation
          required: true
          schema:
            type: string
            enum: [ "transfer" ]
            example: "transfer"
        - in: query
          name: amount
          required: true
          schema:
            type: string
            x-js-format: bigint
            example: "1000000000"
        - in: query
          name: ticker
          required: true
          schema:
            type: string
            example: "nano"
        - in: query
          name: who
          required: true
          schema:
            type: string
            example: UQAs87W4yJHlF8mt29ocA4agnMrLsOP69jC1HPyBUjJay7Mg
      responses:
        '200':
          description: inscription op template
          content:
            application/json:
              schema:
                type: object
                required:
                  - comment
                  - destination
                properties:
                  comment:
                    type: string
                    example: "comment"
                  destination:
                    type: string
                    example: "0:0000000000000"
        'default':
          $ref: '#/components/responses/Error'
  /v2/jettons:
    get:
      description: Get a list of all indexed jetton masters in the blockchain.
      operationId: getJettons
      tags:
        - Jettons
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            maximum: 1000
            default: 100
            example: 15
            minimum: 1
        - name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
            example: 10
            minimum: 0
      responses:
        '200':
          description: a list of jettons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jettons'
        'default':
          $ref: '#/components/responses/Error'
  /v2/jettons/{account_id}:
    get:
      description: Get jetton metadata by jetton master address
      operationId: getJettonInfo
      tags:
        - Jettons
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: jetton info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonInfo'
        'default':
          $ref: '#/components/responses/Error'
  /v2/jettons/_bulk:
    post:
      description: Get jetton metadata items by jetton master addresses
      operationId: getJettonInfosByAddresses
      tags:
        - Jettons
      requestBody:
        $ref: "#/components/requestBodies/AccountIDs"
      responses:
        '200':
          description: a list of jettons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jettons'
        'default':
          $ref: '#/components/responses/Error'
  /v2/jettons/{account_id}/holders:
    get:
      description: Get jetton's holders
      operationId: getJettonHolders
      tags:
        - Jettons
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
      responses:
        '200':
          description: jetton's holders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonHolders'
        'default':
          $ref: '#/components/responses/Error'
  /v2/jettons/{jetton_id}/transfer/{account_id}/payload:
    get:
      description: Get jetton's custom payload and state init required for transfer
      operationId: getJettonTransferPayload
      tags:
        - Jettons
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/jettonIDParameter'
      responses:
        '200':
          description: jetton's custom payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonTransferPayload'
        'default':
          $ref: '#/components/responses/Error'
  /v2/events/{event_id}/jettons:
    get:
      description: "Get only jetton transfers in the event"
      operationId: getJettonsEvents
      tags:
        - Jettons
      parameters:
        - $ref: '#/components/parameters/eventIDParameter'
        - $ref: '#/components/parameters/i18n'
      responses:
        '200':
          description: events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        'default':
          $ref: '#/components/responses/Error'

  /v2/staking/nominator/{account_id}/pools:
    get:
      description: All pools where account participates
      operationId: getAccountNominatorsPools
      tags:
        - Staking
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: account's pools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStaking'
        'default':
          $ref: '#/components/responses/Error'
  /v2/staking/pool/{account_id}:
    get:
      description: Stacking pool info
      operationId: getStakingPoolInfo
      tags:
        - Staking
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/i18n'
      responses:
        '200':
          description: stacking pool info
          content:
            application/json:
              schema:
                type: object
                required:
                  - implementation
                  - pool
                properties:
                  implementation:
                    $ref: '#/components/schemas/PoolImplementation'
                  pool:
                    $ref: '#/components/schemas/PoolInfo'
        'default':
          $ref: '#/components/responses/Error'
  /v2/staking/pool/{account_id}/history:
    get:
      description: Pool history
      operationId: getStakingPoolHistory
      tags:
        - Staking
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: pool history
          content:
            application/json:
              schema:
                type: object
                required:
                  - apy
                properties:
                  apy:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApyHistory'
        'default':
          $ref: '#/components/responses/Error'
  /v2/staking/pools:
    get:
      description: All pools available in network
      operationId: getStakingPools
      tags:
        - Staking
      parameters:
        - in: query
          name: available_for
          required: false
          description: account ID
          schema:
            type: string
            format: address
            example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
        - in: query
          name: include_unverified
          required: false
          description: "return also pools not from white list - just compatible by interfaces (maybe dangerous!)"
          schema:
            type: boolean
            example: false
        - $ref: '#/components/parameters/i18n'
      responses:
        '200':
          description: a list of pools
          content:
            application/json:
              schema:
                type: object
                required:
                  - pools
                  - implementations
                properties:
                  pools:
                    type: array
                    items:
                      $ref: '#/components/schemas/PoolInfo'
                  implementations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/PoolImplementation'
        'default':
          $ref: '#/components/responses/Error'

  /v2/storage/providers:
    get:
      description: Get TON storage providers deployed to the blockchain.
      operationId: getStorageProviders
      tags:
        - Storage
      responses:
        '200':
          description: a list of storage providers
          content:
            application/json:
              schema:
                type: object
                required:
                  - providers
                properties:
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/StorageProvider'
        'default':
          $ref: '#/components/responses/Error'
  
  /v2/rates:
    get:
      description: Get the token price in the chosen currency for display only. Don’t use this for financial transactions.
      operationId: getRates
      tags:
        - Rates
      parameters:
        - in: query
          name: tokens
          description: accept ton and jetton master addresses, separated by commas
          required: true
          explode: false
          schema:
            type: array
            maxItems: 100
            items:
              type: string
            example: [ "ton" ]
        - in: query
          name: currencies
          description: accept ton and all possible fiat currencies, separated by commas
          required: true
          explode: false
          schema:
            type: array
            maxItems: 50
            items:
              type: string
            example: [ "ton","usd","rub" ]
      responses:
        '200':
          description: tokens rates
          content:
            application/json:
              schema:
                type: object
                required:
                  - rates
                properties:
                  rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TokenRates'
        'default':
          $ref: '#/components/responses/Error'
  /v2/rates/chart:
    get:
      description: Get chart by token
      operationId: getChartRates
      tags:
        - Rates
      parameters:
        - in: query
          name: token
          description: accept jetton master address
          required: true
          schema:
            type: string
            format: address
        - in: query
          name: currency
          required: false
          schema:
            type: string
            example: usd
        - name: start_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
        - name: end_date
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 2114380800
            example: 1668436763
        - name: points_count
          in: query
          required: false
          schema:
            type: integer
            format: int
            maximum: 200
            minimum: 0
            default: 200
      responses:
        '200':
          description: token chart
          content:
            application/json:
              schema:
                type: object
                required:
                  - points
                properties:
                  points:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChartPoints'
        'default':
          $ref: '#/components/responses/Error'
  /v2/rates/markets:
    get:
      description: Get the TON price from markets
      operationId: getMarketsRates
      tags:
        - Rates
      responses:
        '200':
          description: markets rates
          content:
            application/json:
              schema:
                type: object
                required:
                  - markets
                properties:
                  markets:
                    type: array
                    items:
                      $ref: '#/components/schemas/MarketTonRates'
        'default':
          $ref: '#/components/responses/Error'
  
  /v2/tonconnect/payload:
    get:
      description: Get a payload for further token receipt
      operationId: getTonConnectPayload
      tags:
        - Connect
      responses:
        '200':
          description: payload
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                properties:
                  payload:
                    type: string
                    example: "84jHVNLQmZsAAAAAZB0Zryi2wqVJI-KaKNXOvCijEi46YyYzkaSHyJrMPBMOkVZa"
        'default':
          $ref: '#/components/responses/Error'
  /v2/tonconnect/stateinit:
    post:
      description: Get account info by state init
      operationId: getAccountInfoByStateInit
      tags:
        - Connect
      requestBody:
        $ref: "#/components/requestBodies/TonConnectStateInit"
      responses:
        '200':
          description: account info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoByStateInit'
        'default':
          $ref: '#/components/responses/Error'
  
  /v2/wallet/backup:
    get:
      description: Get backup info
      operationId: getWalletBackup
      tags:
        - Wallet
      parameters:
        - in: header
          name: X-TonConnect-Auth
          schema:
            type: string
          required: true
      responses:
        '200':
          description: get wallet dump
          content:
            application/json:
              schema:
                type: object
                required:
                  - dump
                properties:
                  dump:
                    type: string
        'default':
          $ref: '#/components/responses/Error'
    put:
      description: Set backup info
      operationId: setWalletBackup
      tags:
        - Wallet
      parameters:
        - in: header
          name: X-TonConnect-Auth
          schema:
            type: string
          required: true
      requestBody:
        $ref: "#/components/requestBodies/Backup"
      responses:
        '200':
          description: success
        'default':
          $ref: '#/components/responses/Error'
  /v2/wallet/auth/proof:
    post:
      description: Account verification and token issuance
      operationId: tonConnectProof
      tags:
        - Wallet
      requestBody:
        $ref: "#/components/requestBodies/TonConnectProof"
      responses:
        '200':
          description: auth token
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                properties:
                  token:
                    type: string
                    example: "NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2ODQ3..."
        'default':
          $ref: '#/components/responses/Error'
  /v2/wallet/{account_id}/seqno:
    get:
      description: Get account seqno
      operationId: getAccountSeqno
      tags:
        - Wallet
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: account seqno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seqno'
        'default':
          $ref: '#/components/responses/Error'
  /v2/gasless/config:
    get:
      description: Returns configuration of gasless transfers
      operationId: gaslessConfig
      tags:
        - Gasless
      responses:
        '200':
          description: "gasless config"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GaslessConfig'
        'default':
          $ref: '#/components/responses/Error'
  /v2/gasless/estimate/{master_id}:
    post:
      description: Estimates the cost of the given messages and returns a payload to sign
      operationId: gaslessEstimate
      parameters:
        - name: master_id
          in: path
          required: true
          description: jetton to pay commission
          schema:
            type: string
            format: address
            example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
      tags:
        - Gasless
      requestBody:
        $ref: "#/components/requestBodies/InternalMessages"
      responses:
        '200':
          description: "payload to sign"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignRawParams'
        'default':
          $ref: '#/components/responses/Error'
  /v2/gasless/send:
    post:
      description: Submits the signed gasless transaction message to the network
      operationId: gaslessSend
      tags:
        - Gasless
      requestBody:
        $ref: "#/components/requestBodies/GaslessSend"
      responses:
        '200':
          description: the message has been sent
        'default':
          $ref: '#/components/responses/Error'
  /v2/pubkeys/{public_key}/wallets:
    get:
      description: Get wallets by public key
      operationId: getWalletsByPublicKey
      tags:
        - Wallet
      parameters:
        - $ref: '#/components/parameters/publicKeyParameter'
      responses:
        '200':
          description: a list of wallets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
        'default':
          $ref: '#/components/responses/Error'

  /v2/liteserver/get_masterchain_info:
    get:
      description: Get raw masterchain info
      operationId: getRawMasterchainInfo
      tags:
        - Lite Server
      responses:
        '200':
          description: raw masterchain info
          content:
            application/json:
              schema:
                type: object
                required:
                  - last
                  - state_root_hash
                  - init
                properties:
                  last:
                    $ref: '#/components/schemas/BlockRaw'
                  state_root_hash:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                  init:
                    $ref: '#/components/schemas/InitStateRaw'
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_masterchain_info_ext:
    get:
      description: Get raw masterchain info ext
      operationId: getRawMasterchainInfoExt
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/modeQuery'
      responses:
        '200':
          description: raw masterchain info ext
          content:
            application/json:
              schema:
                type: object
                required:
                  - mode
                  - version
                  - capabilities
                  - last
                  - last_utime
                  - now
                  - state_root_hash
                  - init
                properties:
                  mode:
                    type: integer
                    format: int32
                    example: 0
                  version:
                    type: integer
                    format: int32
                    example: 257
                  capabilities:
                    type: integer
                    format: int64
                    example: 7
                  last:
                    $ref: '#/components/schemas/BlockRaw'
                  last_utime:
                    type: integer
                    format: int32
                    example: 1687938199
                  now:
                    type: integer
                    format: int32
                    example: 1687938204
                  state_root_hash:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                  init:
                    $ref: '#/components/schemas/InitStateRaw'
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_time:
    get:
      description: Get raw time
      operationId: getRawTime
      tags:
        - Lite Server
      responses:
        '200':
          description: raw time
          content:
            application/json:
              schema:
                type: object
                required:
                  - time
                properties:
                  time:
                    type: integer
                    format: int32
                    example: 1687146728
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_block/{block_id}:
    get:
      description: Get raw blockchain block
      operationId: getRawBlockchainBlock
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDExtParameter'
      responses:
        '200':
          description: raw blockchain block
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - data
                properties:
                  id:
                    $ref: '#/components/schemas/BlockRaw'
                  data:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_state/{block_id}:
    get:
      description: Get raw blockchain block state
      operationId: getRawBlockchainBlockState
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDExtParameter'
      responses:
        '200':
          description: raw blockchain block state
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - root_hash
                  - file_hash
                  - data
                properties:
                  id:
                    $ref: '#/components/schemas/BlockRaw'
                  root_hash:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                  file_hash:
                    type: string
                    example: A6A0BD6608672B11B79538A50B2204E748305C12AA0DED9C16CF0006CE3AF8DB
                  data:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_block_header/{block_id}:
    get:
      description: Get raw blockchain block header
      operationId: getRawBlockchainBlockHeader
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDExtParameter'
        - $ref: '#/components/parameters/modeQuery'
      responses:
        '200':
          description: raw blockchain block header
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - mode
                  - header_proof
                properties:
                  id:
                    $ref: '#/components/schemas/BlockRaw'
                  mode:
                    type: integer
                    format: int32
                    example: 0
                  header_proof:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/send_message:
    post:
      description: Send raw message to blockchain
      operationId: sendRawMessage
      tags:
        - Lite Server
      requestBody:
        $ref: "#/components/requestBodies/LiteServerSendMessageRequest"
      responses:
        '200':
          description: code
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 200
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_account_state/{account_id}:
    get:
      description: Get raw account state
      operationId: getRawAccountState
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/targetBlockIDExtQuery'
      responses:
        '200':
          description: raw account state
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - shardblk
                  - shard_proof
                  - proof
                  - state
                properties:
                  id:
                    $ref: '#/components/schemas/BlockRaw'
                  shardblk:
                    $ref: '#/components/schemas/BlockRaw'
                  shard_proof:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                  proof:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                  state:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_shard_info/{block_id}:
    get:
      description: Get raw shard info
      operationId: getRawShardInfo
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDExtParameter'
        - $ref: '#/components/parameters/workchainQuery'
        - $ref: '#/components/parameters/shardQuery'
        - $ref: '#/components/parameters/exactQuery'
      responses:
        '200':
          description: raw shard info
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - shardblk
                  - shard_proof
                  - shard_descr
                properties:
                  id:
                    $ref: '#/components/schemas/BlockRaw'
                  shardblk:
                    $ref: '#/components/schemas/BlockRaw'
                  shard_proof:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                  shard_descr:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_all_shards_info/{block_id}:
    get:
      description: Get all raw shards info
      operationId: getAllRawShardsInfo
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDExtParameter'
      responses:
        '200':
          description: all raw shards info
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - proof
                  - data
                properties:
                  id:
                    $ref: '#/components/schemas/BlockRaw'
                  proof:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                  data:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_transactions/{account_id}:
    get:
      description: Get raw transactions
      operationId: getRawTransactions
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
        - $ref: '#/components/parameters/countQuery'
        - $ref: '#/components/parameters/ltMustQuery'
        - $ref: '#/components/parameters/hashQuery'
      responses:
        '200':
          description: raw transactions
          content:
            application/json:
              schema:
                type: object
                required:
                  - ids
                  - transactions
                properties:
                  ids:
                    type: array
                    items:
                      $ref: '#/components/schemas/BlockRaw'
                  transactions:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/list_block_transactions/{block_id}:
    get:
      description: Get raw list block transactions
      operationId: getRawListBlockTransactions
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDExtParameter'
        - $ref: '#/components/parameters/modeQuery'
        - $ref: '#/components/parameters/countQuery'
        - $ref: '#/components/parameters/accountIDQuery'
        - $ref: '#/components/parameters/ltQuery'
      responses:
        '200':
          description: a list of raw block transactions
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - req_count
                  - incomplete
                  - ids
                  - proof
                properties:
                  id:
                    $ref: '#/components/schemas/BlockRaw'
                  req_count:
                    type: integer
                    format: int32
                    example: 100
                  incomplete:
                    type: boolean
                    example: true
                  ids:
                    type: array
                    items:
                      type: object
                      required:
                        - mode
                      properties:
                        mode:
                          type: integer
                          format: int32
                          example: 0
                        account:
                          type: string
                          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                        lt:
                          type: integer
                          format: int64
                          x-js-format: bigint
                        hash:
                          type: string
                          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                  proof:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_block_proof:
    get:
      description: Get raw block proof
      operationId: getRawBlockProof
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/knownBlockIDExtQuery'
        - $ref: '#/components/parameters/targetBlockIDExtQuery'
        - $ref: '#/components/parameters/modeQuery'
      responses:
        '200':
          description: raw block proof
          content:
            application/json:
              schema:
                type: object
                required:
                  - complete
                  - from
                  - to
                  - steps
                properties:
                  complete:
                    type: boolean
                    example: true
                  from:
                    $ref: '#/components/schemas/BlockRaw'
                  to:
                    $ref: '#/components/schemas/BlockRaw'
                  steps:
                    type: array
                    items:
                      type: object
                      required:
                        - lite_server_block_link_back
                        - lite_server_block_link_forward
                      properties:
                        lite_server_block_link_back:
                          type: object
                          required:
                            - to_key_block
                            - from
                            - to
                            - dest_proof
                            - proof
                            - state_proof
                          properties:
                            to_key_block:
                              type: boolean
                              example: false
                            from:
                              $ref: '#/components/schemas/BlockRaw'
                            to:
                              $ref: '#/components/schemas/BlockRaw'
                            dest_proof:
                              type: string
                              example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                            proof:
                              type: string
                              example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                            state_proof:
                              type: string
                              example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                        lite_server_block_link_forward:
                          type: object
                          required:
                            - to_key_block
                            - from
                            - to
                            - dest_proof
                            - config_proof
                            - signatures
                          properties:
                            to_key_block:
                              type: boolean
                              example: false
                            from:
                              $ref: '#/components/schemas/BlockRaw'
                            to:
                              $ref: '#/components/schemas/BlockRaw'
                            dest_proof:
                              type: string
                              example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                            config_proof:
                              type: string
                              example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                            signatures:
                              type: object
                              required:
                                - validator_set_hash
                                - catchain_seqno
                                - signatures
                              properties:
                                validator_set_hash:
                                  type: integer
                                  format: int64
                                catchain_seqno:
                                  type: integer
                                  format: int32
                                signatures:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - node_id_short
                                      - signature
                                    properties:
                                      node_id_short:
                                        type: string
                                        example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                                      signature:
                                        type: string
                                        example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_config_all/{block_id}:
    get:
      description: Get raw config
      operationId: getRawConfig
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDExtParameter'
        - $ref: '#/components/parameters/modeQuery'
      responses:
        '200':
          description: raw config
          content:
            application/json:
              schema:
                type: object
                required:
                  - mode
                  - id
                  - state_proof
                  - config_proof
                properties:
                  mode:
                    type: integer
                    format: int32
                    example: 0
                  id:
                    $ref: '#/components/schemas/BlockRaw'
                  state_proof:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
                  config_proof:
                    type: string
                    example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_shard_block_proof/{block_id}:
    get:
      description: Get raw shard block proof
      operationId: getRawShardBlockProof
      tags:
        - Lite Server
      parameters:
        - $ref: '#/components/parameters/blockchainBlockIDExtParameter'
      responses:
        '200':
          description: raw shard block proof
          content:
            application/json:
              schema:
                type: object
                required:
                  - masterchain_id
                  - links
                properties:
                  masterchain_id:
                    $ref: '#/components/schemas/BlockRaw'
                  links:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - proof
                      properties:
                        id:
                          $ref: '#/components/schemas/BlockRaw'
                        proof:
                          type: string
                          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        'default':
          $ref: '#/components/responses/Error'
  /v2/liteserver/get_out_msg_queue_sizes:
    get:
      description: Get out msg queue sizes
      operationId: getOutMsgQueueSizes
      tags:
        - Lite Server
      responses:
        '200':
          description: out msg queue sizes
          content:
            application/json:
              schema:
                type: object
                required:
                  - ext_msg_queue_size_limit
                  - shards
                properties:
                  ext_msg_queue_size_limit:
                    type: integer
                    format: uint32
                  shards:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - size
                      properties:
                        id:
                          $ref: '#/components/schemas/BlockRaw'
                        size:
                          type: integer
                          format: uint32
        'default':
          $ref: '#/components/responses/Error'
  
  /v2/multisig/{account_id}:
    get:
      description: Get multisig account info
      operationId: getMultisigAccount
      tags:
        - Multisig
      parameters:
        - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: multisig account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Multisig'
        'default':
          $ref: '#/components/responses/Error'
  /v2/message/decode:
    post:
      description: Decode a given message. Only external incoming messages can be decoded currently.
      operationId: decodeMessage
      tags:
        - Emulation
      requestBody:
        $ref: "#/components/requestBodies/Boc"
      responses:
        '200':
          description: decoded message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodedMessage'
        'default':
          $ref: '#/components/responses/Error'
  /v2/events/emulate:
    post:
      description: Emulate sending message to blockchain
      operationId: emulateMessageToEvent
      tags:
        - Emulation
        - Events
      parameters:
        - $ref: '#/components/parameters/i18n'
        - name: ignore_signature_check
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/Boc"
      responses:
        '200':
          description: emulated event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        'default':
          $ref: '#/components/responses/Error'
  /v2/traces/emulate:
    post:
      description: Emulate sending message to blockchain
      operationId: emulateMessageToTrace
      tags:
        - Emulation
        - Traces
      parameters:
        - name: ignore_signature_check
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/Boc"
      responses:
        '200':
          description: emulated trace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trace'
        'default':
          $ref: '#/components/responses/Error'
  /v2/wallet/emulate:
    post:
      description: Emulate sending message to blockchain
      operationId: emulateMessageToWallet
      tags:
        - Emulation
        - Wallet
      parameters:
        - $ref: '#/components/parameters/i18n'
      requestBody:
        $ref: "#/components/requestBodies/EmulationBoc"
      responses:
        '200':
          description: emulated message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageConsequences'
        'default':
          $ref: '#/components/responses/Error'
  /v2/accounts/{account_id}/events/emulate:
    post:
      description: Emulate sending message to blockchain
      operationId: emulateMessageToAccountEvent
      tags:
        - Emulation
        - Accounts
      parameters:
        - $ref: '#/components/parameters/i18n'
        - $ref: '#/components/parameters/accountIDParameter'
        - name: ignore_signature_check
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/Boc"
      responses:
        '200':
          description: emulated message to account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvent'
        'default':
          $ref: '#/components/responses/Error'
components:
  parameters:
    masterchainSeqno:
      in: path
      name: masterchain_seqno
      required: true
      description: "masterchain block seqno"
      schema:
        type: integer
        format: int32
        example: 123456
    blockchainBlockIDParameter:
      in: path
      name: block_id
      required: true
      description: block ID
      schema:
        type: string
        example: (-1,8000000000000000,4234234)
    blockchainBlockIDExtParameter:
      in: path
      name: block_id
      required: true
      description: "block ID: (workchain,shard,seqno,root_hash,file_hash)"
      schema:
        type: string
        example: (-1,8000000000000000,4234234,3E575DAB1D25...90D8,47192E5C46C...BB29)
    transactionIDParameter:
      in: path
      name: transaction_id
      required: true
      description: transaction ID
      schema:
        type: string
        example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    messageIDParameter:
      in: path
      name: msg_id
      required: true
      description: message ID
      schema:
        type: string
        example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    accountIDParameter:
      in: path
      name: account_id
      required: true
      description: account ID
      schema:
        type: string
        format: address
        example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    accountIDParameters:
      in: path
      name: account_ids
      required: true
      description: account ID
      explode: false
      schema:
        type: array
        items:
          type: string
          format: address
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    jettonIDParameter:
      in: path
      name: jetton_id
      required: true
      description: jetton ID
      schema:
        type: string
        format: address
        example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    methodNameParameter:
      in: path
      name: method_name
      required: true
      description: contract get method name
      schema:
        type: string
        example: get_wallet_address
    domainNameParameter:
      in: path
      name: domain_name
      required: true
      description: domain name with .ton or .t.me
      schema:
        type: string
        example: wallet.ton
    traceIDParameter:
      in: path
      name: trace_id
      required: true
      description: "trace ID or transaction hash in hex (without 0x) or base64url format"
      schema:
        type: string
        example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    eventIDParameter:
      in: path
      name: event_id
      required: true
      description: "event ID or transaction hash in hex (without 0x) or base64url format"
      schema:
        type: string
        example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    publicKeyParameter:
      in: path
      name: public_key
      required: true
      schema:
        type: string
        example: NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2ODQ3...
    i18n:
      in: header
      name: Accept-Language
      required: false
      schema:
        type: string
        example: "ru-RU,ru;q=0.5"
        default: "en"
    limitQuery:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        default: 1000
        maximum: 1000
        minimum: 1
    offsetQuery:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
    domainFilterQuery:
      in: query
      name: tld
      required: false
      description: domain filter for current auctions "ton" or "t.me"
      schema:
        type: string
        example: ton
    periodQuery:
      in: query
      name: period
      required: false
      description: "number of days before expiration"
      schema:
        type: integer
        minimum: 1
        maximum: 3660
    collectionQuery:
      in: query
      name: collection
      required: false
      description: "nft collection"
      schema:
        type: string
        format: address
        example: "0:06d811f426598591b32b2c49f29f66c821368e4acb1de16762b04e0174532465"
    modeQuery:
      in: query
      name: mode
      required: true
      description: "mode"
      schema:
        type: integer
        format: int32
        example: 0
    countQuery:
      in: query
      name: count
      required: true
      description: "count"
      schema:
        type: integer
        format: int32
        example: 100
    knownBlockIDExtQuery:
      in: query
      name: known_block
      required: true
      description: "known block: (workchain,shard,seqno,root_hash,file_hash)"
      schema:
        type: string
        example: (-1,8000000000000000,4234234,3E575DAB1D25...90D8,47192E5C46C...BB29)
    targetBlockIDExtQuery:
      in: query
      name: target_block
      required: false
      description: "target block: (workchain,shard,seqno,root_hash,file_hash)"
      schema:
        type: string
        example: (-1,8000000000000000,4234234,3E575DAB1D25...90D8,47192E5C46C...BB29)
    ltMustQuery:
      in: query
      name: lt
      required: true
      description: "lt"
      schema:
        type: integer
        format: int64
        example: 23814011000000
    ltQuery:
      in: query
      name: lt
      description: "lt"
      schema:
        type: integer
        format: int64
        example: 23814011000000
    hashQuery:
      in: query
      name: hash
      required: true
      description: "hash"
      schema:
        type: string
        example: "131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85"
    workchainQuery:
      in: query
      name: workchain
      required: true
      description: "workchain"
      schema:
        type: integer
        format: int32
        example: 1
    shardQuery:
      in: query
      name: shard
      required: true
      description: "shard"
      schema:
        type: integer
        format: int64
        example: 1
    exactQuery:
      in: query
      name: exact
      required: true
      description: "exact"
      schema:
        type: boolean
        example: false
    accountIDQuery:
      in: query
      name: account_id
      required: false
      description: account ID
      explode: false
      schema:
        type: string
        format: address
        example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    initiatorQuery:
      in: query
      name: initiator
      description: Show only events that are initiated by this account
      explode: false
      schema:
        type: boolean
        default: false
    currenciesQuery:
      in: query
      name: currencies
      description: accept ton and all possible fiat currencies, separated by commas
      required: false
      explode: false
      schema:
        type: array
        items:
          type: string
        example: [ "ton", "usd", "rub" ]
    supportedExtensions:
      in: query
      name: supported_extensions
      description: "comma separated list supported extensions"
      explode: false
      required: false
      schema:
        type: array
        items:
          type: string
        example: [ "custom_payload" ]
    currencyQuery:
      in: query
      name: currency
      required: false
      schema:
        type: string
        example: "usd"
    fromQuery:
      in: query
      name: from
      required: true
      schema:
        type: integer
        format: int64
    toQuery:
      in: query
      name: to
      required: true
      schema:
        type: integer
        format: int64

  requestBodies:
    MethodParameters:
      description: input parameters for contract get method
      content:
        application/json:
          schema:
            type: object
    BatchBoc:
      description: both a single boc and a batch of boc serialized in base64/hex are accepted
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              boc:
                type: string
                format: cell
              batch:
                type: array
                maxItems: 10
                items:
                  type: string
                  format: cell
    EmulationBoc:
      description: bag-of-cells serialized to base64/hex and additional parameters to configure emulation
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - boc
            properties:
              boc:
                type: string
                format: cell
              params:
                type: array
                description: additional per account configuration
                items:
                  type: object
                  required:
[...]
