name: test
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'dev'
      - 'master'

jobs:
  unit-tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - name: Go Version
        uses: actions/setup-go@v3
        with:
          go-version: '1.23'
      - name: test
        env:
          LD_LIBRARY_PATH: ${{ github.workspace }}/libs
          LITE_SERVERS: ${{ secrets.LITE_SERVERS }}
        run: |
          sudo apt-get install -y libsecp256k1-0
          mkdir -p ${{ env.LD_LIBRARY_PATH}}
          wget https://github.com/tonkeeper/tongo/raw/master/lib/linux/libemulator.so -O ${{ env.LD_LIBRARY_PATH}}/libemulator.so
          make test
